@font-face {
  font-family: "Gerbil";
  src: url("./assets/fonts/gerbil.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.otf/Fonts/OTF/Satoshi-Regular.otf")
    format("opentype");
}